body {
    background-image: url("img/kuy.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
  }

.login-wrapper {
    min-height: calc(100vh - 56px); /* ความสูง navbar */
    display: flex;
    justify-content: center; /* แนวนอน */
    align-items: center;     /* แนวตั้ง */
}

/* กล่อง login */
.login-box {
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(168, 104, 104, 0.5); /* จางลง */
    box-shadow: 0 4px 10px rgba(145, 124, 124, 0.952);
    width: 350px;
    text-align: center;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Sans+Thai:wght@400;700&display=swap');

body {
    font-family: 'Lilita One', 'Noto Sans Thai', sans-serif;
} */